# Loading data into pandas into different file format

In [13]:
import pandas as pd

# csv file format
# df = pd.read_csv('pokemon_data.csv')
# (comment here can use head or tail to specify the top or bottom of the data var that we want to print; 
#print(df.tail(3))

# xlsx file format
#df_xlsx = pd.read_excel('pokemon_data.xlsx')
#print(df_xlsx.head(3))

# Tab seperated txt file format
df = pd.read_csv('pokemon_data.txt', delimiter='\t')
print(df.head(5))

   #                   Name Type 1  Type 2  HP  Attack  Defense  Sp. Atk  \
0  1              Bulbasaur  Grass  Poison  45      49       49       65
1  2                Ivysaur  Grass  Poison  60      62       63       80
2  3               Venusaur  Grass  Poison  80      82       83      100
3  3  VenusaurMega Venusaur  Grass  Poison  80     100      123      122
4  4             Charmander   Fire     NaN  39      52       43       60

   Sp. Def  Speed  Generation  Legendary
0       65     45           1      False
1       80     60           1      False
2      100     80           1      False
3      120     80           1      False
4       50     65           1      False

# Reading Data in Pandas

In [31]:
### Read Headers
#print(df.columns)
df.columns

### Read each Column
# (specify the top 5 range) print(df['Name'][0:5])
# (print diff colm) print(df[['Name', 'Type 1', 'HP']])

### Read Each Row
#print(df.head(4))
# (use iloc fn to print specific row and print first 4 row and ranges 1 to 4) print(df.iloc[1:4])
#(iter) for index, row in df.iterrows():
 #   print(index, row['Name'])
#df.loc[df['Type 1'] == "Grass"]

### Read a specific location (R,C)
#print(df.iloc[2,1])

Venusaur

# Sorting/Describing Data

In [37]:
#df.describe()


#df.sort_values('Name', ascending = False)

#combine multiple col
df.sort_values(['Type 1', 'HP'], ascending=[1,0])
df

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False
5,5,Charmeleon,Fire,NaN,58,64,58,80,65,80,1,False
6,6,Charizard,Fire,Flying,78,84,78,109,85,100,1,False
7,6,CharizardMega Charizard X,Fire,Dragon,78,130,111,130,85,100,1,False
8,6,CharizardMega Charizard Y,Fire,Flying,78,104,78,159,115,100,1,False
9,7,Squirtle,Water,NaN,44,48,65,50,64,43,1,False
10,8,Wartortle,Water,NaN,59,63,80,65,80,58,1,False
11,9,Blastoise,Water,NaN,79,83,100,85,105,78,1,False
12,9,BlastoiseMega Blastoise,Water,NaN,79,103,120,135,115,78,1,False
13,10,Caterpie,Bug,NaN,45,30,35,20,20,45,1,False
14,11,Metapod,Bug,NaN,50,20,55,25,25,30,1,False
15,12,Butterfree,Bug,Flying,60,45,50,90,80,70,1,False
16,13,Weedle,Bug,Poison,40,35,30,20,20,50,1,False
17,14,Kakuna,Bug,Poison,45,25,50,25,25,35,1,False
18,15,Beedrill,Bug,Poison,65,90,40,45,80,75,1,False
19,15,BeedrillMega Beedrill,Bug,Poison,65,150,40,15,80,145,1,False
20,16,Pidgey,Normal,Flying,40,45,40,35,35,56,1,False
21,17,Pidgeotto,Normal,Flying,63,60,55,50,50,71,1,False
22,18,Pidgeot,Normal,Flying,83,80,75,70,70,101,1,False
23,18,PidgeotMega Pidgeot,Normal,Flying,83,80,80,135,80,121,1,False
24,19,Rattata,Normal,NaN,30,56,35,25,35,72,1,False
25,20,Raticate,Normal,NaN,55,81,60,50,70,97,1,False
26,21,Spearow,Normal,Flying,40,60,30,31,31,70,1,False
27,22,Fearow,Normal,Flying,65,90,65,61,61,100,1,False
28,23,Ekans,Poison,NaN,35,60,44,40,54,55,1,False
29,24,Arbok,Poison,NaN,60,85,69,65,79,80,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...
770,700,Sylveon,Fairy,NaN,95,65,65,110,130,60,6,False
771,701,Hawlucha,Fighting,Flying,78,92,75,74,63,118,6,False
772,702,Dedenne,Electric,Fairy,67,58,57,81,67,101,6,False
773,703,Carbink,Rock,Fairy,50,50,150,50,150,50,6,False
774,704,Goomy,Dragon,NaN,45,50,35,55,75,40,6,False
775,705,Sliggoo,Dragon,NaN,68,75,53,83,113,60,6,False
776,706,Goodra,Dragon,NaN,90,100,70,110,150,80,6,False
777,707,Klefki,Steel,Fairy,57,80,91,80,87,75,6,False
778,708,Phantump,Ghost,Grass,43,70,48,50,60,38,6,False
779,709,Trevenant,Ghost,Grass,85,110,76,65,82,56,6,False
780,710,PumpkabooAverage Size,Ghost,Grass,49,66,70,44,55,51,6,False
781,710,PumpkabooSmall Size,Ghost,Grass,44,66,70,44,55,56,6,False
782,710,PumpkabooLarge Size,Ghost,Grass,54,66,70,44,55,46,6,False
783,710,PumpkabooSuper Size,Ghost,Grass,59,66,70,44,55,41,6,False
784,711,GourgeistAverage Size,Ghost,Grass,65,90,122,58,75,84,6,False
785,711,GourgeistSmall Size,Ghost,Grass,55,85,122,58,75,99,6,False
786,711,GourgeistLarge Size,Ghost,Grass,75,95,122,58,75,69,6,False
787,711,GourgeistSuper Size,Ghost,Grass,85,100,122,58,75,54,6,False
788,712,Bergmite,Ice,NaN,55,69,85,32,35,28,6,False
789,713,Avalugg,Ice,NaN,95,117,184,44,46,28,6,False
790,714,Noibat,Flying,Dragon,40,30,35,45,40,55,6,False
791,715,Noivern,Flying,Dragon,85,70,80,97,80,123,6,False
792,716,Xerneas,Fairy,NaN,126,131,95,131,98,99,6,True
793,717,Yveltal,Dark,Flying,126,131,95,131,98,99,6,True
794,718,Zygarde50% Forme,Dragon,Ground,108,100,121,81,95,95,6,True
795,719,Diancie,Rock,Fairy,50,100,150,100,150,50,6,True
796,719,DiancieMega Diancie,Rock,Fairy,50,160,110,160,110,110,6,True
797,720,HoopaHoopa Confined,Psychic,Ghost,80,110,60,150,130,70,6,True
798,720,HoopaHoopa Unbound,Psychic,Dark,80,160,60,170,130,80,6,True
799,721,Volcanion,Fire,Water,80,110,120,130,90,70,6,True

# Making changes to the data

In [105]:
# add a col to add all and find which pokemon data is best
#df['Total'] = df['HP'] + df['Attack'] + df['Defense'] + df['Sp. Atk'] + df['Sp. Def'] + df['Speed']

# drop a specific col, remove TOTAL from the dataset
#df = df.drop(columns=['Total'])

# add a col in different wayuse iloc fn,location all row then :, col specify which one 4:10 starts from 0;
#.sum fn add horizontally like axis =1, axix =0 adding vertically
df['Total'] = df.iloc[:, 4:10].sum(axis=1)
cols = list(df.columns)
df = df[cols[0:4] + [cols[-1]]+cols[4:12]]

df.head(5)

,#,Name,Type 1,Type 2,count,Legendary,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed
0,1,Bulbasaur,Grass,Poison,1,False,799.0,45,49,49,65,65,45
1,2,Ivysaur,Grass,Poison,1,False,1015.0,60,62,63,80,80,60
2,3,Venusaur,Grass,Poison,1,False,1315.0,80,82,83,100,100,80
3,3,VenusaurMega Venusaur,Grass,Poison,1,False,1595.0,80,100,123,122,120,80
4,4,Charmander,Fire,NaN,1,False,747.0,39,52,43,60,50,65

# Saving our Data/csv (Exporting into Desired Format)

In [54]:
#df.to_csv('modified.csv', index=False)

#df.to_excel('modified.xlsx', index=False)

df.to_csv('modified.txt', index=False, sep='\t')

# Filtering Data

In [69]:
#df.loc[(df['Type 1'] == 'Grass')]
#new_df = df.loc[(df['Type 1'] == 'Grass') & (df['Type 2'] == 'Poison') & (df['HP'] > 70)]
#new_df.reset_index(drop=True, inplace=True)
#new_df

# Get type 1 grass or fire, regex expression means OR
import re
#df.loc[df['Type 1'].str.contains('Fire|Grass', regex=True)]
# ignore the captial or lower case using FLAGS term, flags I ignore case
#df.loc[df['Type 1'].str.contains('fire|grass', flags=re.I, regex=True)]
# catagory like want to find or start with "PI" or next set of letter from a~z, * mean more or zero on the statement
#df.loc[df['Name'].str.contains('pi[a~z]*', flags=re.I, regex=True)]
# find pi in the middle use ^ statement
df.loc[df['Name'].str.contains('^pi[a~z]*', flags=re.I, regex=True)]


# find only Mega from the file
#df.loc[df['Name'].str.contains('Mega')]
# Whne Reverse of this then just use the sign ~ squiggly line or tilde, NO MEGA on our data
#df.loc[~df['Name'].str.contains('Mega')]

#new_df.to_csv('filtered.csv')

,#,Name,Type 1,Type 2,Legendary,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation
20,16,Pidgey,Normal,Flying,False,446,40,45,40,35,35,56,1
21,17,Pidgeotto,Normal,Flying,False,627,63,60,55,50,50,71,1
22,18,Pidgeot,Normal,Flying,False,857,83,80,75,70,70,101,1
23,18,PidgeotMega Pidgeot,Normal,Flying,False,1037,83,80,80,135,80,121,1
30,25,Pikachu,Electric,NaN,False,550,35,55,40,50,50,90,1
136,127,Pinsir,Bug,NaN,False,915,65,125,100,55,70,85,1
137,127,PinsirMega Pinsir,Bug,Flying,False,1095,65,155,120,65,90,105,1
186,172,Pichu,Electric,NaN,False,350,20,40,15,35,35,60,2
219,204,Pineco,Bug,NaN,False,565,50,65,90,35,35,15,2
239,221,Piloswine,Ice,Ground,False,850,100,100,80,60,60,50,2
438,393,Piplup,Water,NaN,False,588,53,51,53,61,56,40,4
558,499,Pignite,Fire,Fighting,False,781,90,93,55,70,55,55,5
578,519,Pidove,Normal,Flying,False,485,50,55,50,36,30,43,5

# Conditional Changes, DF

In [103]:
# multiple condition can modify, gen, led are col here
df.loc[df['Total'] > 500, ['Generation','Legendary']] = ['Test 1', 'Test 2']



# change our DataFrame based on condition we filter out, change the name Fire to Flamer or vice versa
#df.loc[df['Type 1'] == 'Fire', 'Type 1'] = 'Flamer'


#  specify all the fire pokemon are legendary and true
#df.loc[df['Type 1'] == 'Fire', 'Legendary'] = True

#df = pd.read_csv('modified.csv')

df

,#,Name,Type 1,Type 2,Legendary,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation
0,1,Bulbasaur,Grass,Poison,Test 2,591,45,49,49,65,65,45,Test 1
1,2,Ivysaur,Grass,Poison,Test 2,750,60,62,63,80,80,60,Test 1
2,3,Venusaur,Grass,Poison,Test 2,970,80,82,83,100,100,80,Test 1
3,3,VenusaurMega Venusaur,Grass,Poison,Test 2,1170,80,100,123,122,120,80,Test 1
4,4,Charmander,Fire,NaN,Test 2,553,39,52,43,60,50,65,Test 1

# Aggregate Statistics or Groupby fn

In [104]:
df = pd.read_csv('modified.csv')

# avg, can find which pokemon has highest Defense/HP/Attack/ so on, ascending wise
#df.groupby(['Type 1']).mean().sort_values('Defense', ascending=False)

#sum
#df.groupby(['Type 1']).sum().sort_values('Defense', ascending=False)

#count
#df.groupby(['Type 1']).count()

df['count'] = 1

# get the count col, also can multiple parameter like T1 or T2
df.groupby(['Type 1', 'Type 2']).count()['count']

Type 1    Type 2
Bug       Electric     2
          Fighting     2
          Fire         2
          Flying      14
          Ghost        1
          Grass        6
          Ground       2
          Poison      12
          Rock         3
          Steel        7
          Water        1
Dark      Dragon       3
          Fighting     2
          Fire         3
          Flying       5
          Ghost        2
          Ice          2
          Psychic      2
          Steel        2
Dragon    Electric     1
          Fairy        1
          Fire         1
          Flying       6
          Ground       5
          Ice          3
          Psychic      4
Electric  Dragon       1
          Fairy        1
          Fire         1
          Flying       5
                      ..
Rock      Fighting     1
          Flying       4
          Grass        2
          Ground       6
          Ice          2
          Psychic      2
          Steel        3
          Water        6
Steel     Dragon       1
          Fairy        3
          Fighting     1
          Flying       1
          Ghost        4
          Ground       2
          Psychic      7
          Rock         3
Water     Dark         6
          Dragon       2
          Electric     2
          Fairy        2
          Fighting     3
          Flying       7
          Ghost        2
          Grass        3
          Ground      10
          Ice          3
          Poison       3
          Psychic      5
          Rock         4
          Steel        1
Name: count, Length: 136, dtype: int64

# Working with large amounts of data

In [106]:
new_df = pd.DataFrame(columns=df.columns)

for df in pd.read_csv('modified.csv', chunksize=5):
    results = df.groupby(['Type 1']).count()
    
    new_df = pd.concat([new_df, results])
    
    
    #print("chunk df")
   # print(df)


# pandas lib can read a chunk of the size 5 (or thousands rows) mean 5 rows pass at the same time, 
# for df mean5 rows of my total data size. 
#new_df = pd.DataFrame(columns=df.columns)

#for df in pd.read_csv('modified.csv', chunksize=5):
    #results = df.groupby(['Type 1']).count()
    
    #new_df = pd.concat([new_df, results])
# concate fn, take new df to chunks, pandas on results and stored into ur new_df

/home/jahid/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:6: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.